<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template is Working</title>
</head>
<body>
<h1>Welcome to the Text Analyzer <br>Enter your text below</h1>
<form action='/analyze' method = 'get'>
    <textarea name="text" id="" cols="30" rows="10" style="width: 1482px; height: 217px;"></textarea> <br>
    <input type="checkbox" name="removepunc"> Remove Punctuations <br>
    <input type="checkbox" name="fullcaps"> UpperCase <br>
    <input type="checkbox" name="newlineremover"> New Line Remover<br>
    <input type="checkbox" name="extraspaceremover"> Extra Space Remover<br>
    <button type="submit">Analyze text</button>
</form>
</body>
</html>